*{
    top: 0%;
    left: 0%;
}

body {
    font-family: 'Noto Serif', serif;
    color: white;
    margin: 0%;
}

#logo {
    margin: 10px 34px;
}

#logo img {
    height: 69px;
    width: 90px;
    margin: -10px -38px;
}

.navbar {
    position: relative;
}

.navbar ul {
    display: flex;
    margin: 10px 5px;
    padding: 5px 10px;
}

.navbar li {
    list-style: none;
    align-items: center;
    font-size: 1rem;
}

.navbar {
    display: flex;
}

.navbar::before {
    content: "";
    background-color: beige;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 76%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

.navbar ul li a {
    font-family: 'Noto Serif', serif;
    color: beige;
    display: block;
    margin: 3px 6px;
    padding: 0px 22px;
    border-radius: 20px;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: rgb(189, 52, 52);
    background-color: white;
}


/*section*/


#container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 64px 0px;
    padding: 64px 12px;
}


#container::before {
    content: "";
    background: url(bg4.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

.btn{
    padding: 6px 20px;
    border: 2px solid black;
    background-color: white;
    color: brown;
    margin: 17px auto;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor:pointer;
    width: 19%;
}

.btn:hover{
    background-color:brown;
    color:white;
}
.services-container{
    background-color:beige;
    top: 0%;
    left: 0%;
}
 
/*services section*/
.contain {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    color: black;
    padding: 20px 10px;
    height: 100%;
    width: 90%;
    margin: auto;
}

.box{
    border: 2px solid brown;
    margin: 5px;
    padding: 5px 5px;
    height: 400px;
    border-radius: 10px;
    background-color: antiquewhite;
}

.box p{
    font-size: 1rem;
    font-family: 'Noto Serif', serif;
}

.box img{
    height: 105px;
    width: 138px;
}

.box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*partner section*/

.sponsor-img img{
    height: 150px;
    width: 150px;
    padding: 36px;
    margin: 2px auto;
}


.Partners-container{
    position: relative;
}

.Partners-container::before{
    content: "";
    position: absolute;
    background: url('bg1.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}


/*contact page*/

.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contact-container::before {
    content: "";
    background: url(bg2.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

.contact-inner{
    margin: 20px auto;
    padding: 5px 10px;
}

.forminner input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

.formouter {
    margin: 5px auto;
    padding: 18px 61px;
    border-radius: 25px;
}

.formouter input {
    font-family: 'Noto Serif', serif;
    border-radius: 10px solid black;
    cursor: pointer; 
    margin: 3px 3px;

}

.formouter input:hover {
    background-color: black;
    color: white;
}

/*footer*/

footer{
    text-align: center;
    color: white;
    background-color: black;
}

/*Utility Classes*/

 .h-primary {
    font-size: 3.8rem;
    text-align: center;
    font-family: 'Noto Serif', serif;
                    
}
                    
.h-secondary{
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Noto Serif', serif;
}
                    
.h-seconday{
    font-size: 1.5rem;
    text-align: center;
}
.h-tertiary{
     font-size: 3.8rem;
     color: black;
     text-align: center;
     padding: 17px;
     margin: -9px;
     font-family: 'Noto Serif', serif;
}